/docs             export-ignore
/env              export-ignore

/.github          export-ignore
/.dockerignore    export-ignore
/.gitattributes   export-ignore
/.gitignore       export-ignore
/.goreleaser.yml  export-ignore
/.scrutinizer.yml export-ignore
/.travis.yml      export-ignore

/Makefile         export-ignore
/Gopkg.*          export-ignore

*.md              export-ignore
*_test.go         export-ignore

/docs/*           -diff -merge
/docs/*           linguist-generated=true
*_easyjson.go     -diff -merge
*_easyjson.go     linguist-generated=true
*.pb.go           -diff -merge
*.pb.go           linguist-generated=true
bindata.go        -diff -merge
bindata.go        linguist-generated=true
mock_*_test.go    -diff -merge
mock_*_test.go    linguist-generated=true
