footer {
    padding: 2.5rem 0;
    background-color: #f9f9f9; border-top: .05rem solid #e5e5e5;
    color: #999; text-align: center;
}
footer .fa-heart { color: red; }
img { max-width: 100%; }

.clipboard {
    display: none;
    position: relative; float: right;
}
.clipboard .btn-alert {
    display: block;
    position: absolute; top: .5rem; right: .5rem; z-index: 10;
    padding: .25rem .5rem;
    background-color: transparent; border: 0; border-radius: .25rem;
    color: #818a91; font-size: 75%;
    cursor: pointer;
}
.clipboard .btn-alert:hover {
    color: #fff;
    background-color: #027de7;
}
.device {
    position: absolute; right: 10%; bottom: -30%;
    width: 300px; height: 540px;
    background-color: #333; border-radius: 21px;
    transform: rotate(30deg);
}
.device::before {
    content: "";
    position: absolute; top: 10%; right: 10px; bottom: 10%; left: 10px;
    background-color: rgba(255, 255, 255, .1); border-radius: 5px;
}
.device-2 {
    top: -25%; right: auto; bottom: 0; left: 5%;
    background-color: #e5e5e5;
}
.example {
    position: relative;
    margin: 10px 0 0; padding: 1rem;
    border: solid #f7f7f9; border-width: .2rem 0 0;
}
.example .title {
    position: absolute; top: 12px; right: 12px;
    padding: 9px;
}
.highlight       { padding: 1rem; background-color: #f7f7f9; }
.highlight pre,
.highlight code  { margin: 0; padding: 0; }
.overflow-hidden { overflow: hidden; }

#header                   { border-radius: 0; }
#header .navbar-brand img { height: 30px; }
#header .ribbon img       { position: absolute; top: 0; right: 0; }

#messages { position: fixed; bottom: 1rem; right: 1rem; z-index: 10; width: 40%; max-width: 512px; }

#timeline {
    position: relative;
    margin: 2em 0; padding: 2em 0;
}
#timeline::before {
    content: "";
    position: absolute; top: 0; left: 18px;
    width: 4px; height: 100%;
    background: #d7e4ed;
}
#timeline .block {
    position: relative;
    margin: 2em 0;
}
#timeline .block:after {
    content: "";
    display: table; clear: both;
}
#timeline .block:first-child    { margin-top: 0; }
#timeline .block:last-child     { margin-bottom: 0; }
#timeline .icon {
    position: absolute; top: 0; left: 0;
    width: 40px; height: 40px;
    background: #f0ca45; border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
#timeline .icon.complete    { background: #75ce66; }
#timeline .icon.overdue     { background: #c03b44; }
#timeline .icon i,
#timeline .icon svg {
    display: block;
    position: relative; left: 50%; top: 50%;
    width: 24px !important; height: 24px !important; margin: -12px 0 0 -12px;
}
#timeline .content {
    position: relative;
    margin-left: 60px; padding: 1em;
    background: #f7f7f9; border-radius: 0.25em; box-shadow: 0 3px 0 #d7e4ed;
}
#timeline .content::before {
    content: "";
    position: absolute; top: 16px; right: 100%;
    width: 0; height: 0;
    border: 7px solid transparent; border-right: 7px solid #f7f7f9;
}
#timeline .content:after {
    content: "";
    display: table; clear: both;
}
#timeline .content h2 { color: #303e49; }
#timeline .content p {
    margin: 1em 0;
    font-size: 0.8125rem; line-height: 1.6;
}

@media only screen and (min-width: 576px) {
    .example {
        padding: 1.5rem;
        border-width: .2rem;
    }
}
@media only screen and (min-width: 768px) {
    .clipboard              { display: block; }

    #timeline .content h2   { font-size: 1.25rem; }
    #timeline .content p    { font-size: 1rem; }
}
@media only screen and (min-width: 1170px) {
    #timeline { margin: 3em 0; }
    #timeline::before {
        left: 50%;
        margin-left: -2px;
    }
    #timeline .block                { margin: 4em 0; }
    #timeline .block:first-child    { margin-top: 0; }
    #timeline .block:last-child     { margin-bottom: 0; }
    #timeline .icon {
        left: 50%;
        width: 60px; height: 60px; margin-left: -30px;
    }
    #timeline .content { width: 45%; margin-left: 0; padding: 1.6em; }
    #timeline .content::before {
        top: 24px; left: 100%;
        border-color: transparent; border-left-color: #f7f7f9;
    }
    #timeline .block:nth-child(even) .content { float: right; }
    #timeline .block:nth-child(even) .content::before {
        top: 24px; left: auto; right: 100%;
        border-color: transparent; border-right-color: #f7f7f9;
    }
}
